html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
}

body {
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: "Open Sans", sans-serif;
  color: #151618;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  position: relative;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* .reviews__item.reviews__item--hide {
  display: none;
} */
.title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;

  font-family: "Cormorant Garamond", serif;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 140px;
  margin: 30px 0;
}
.logo {
  margin-bottom: 35px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  font-weight: 400;
  font-size: 18px;
  margin-left: 85px;
  position: relative;
  z-index: 3;
}
.menu__btn {
  display: none;
  width: 40px;
  height: 20px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.menu--close {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: background-color 0.3s ease;
}
.menu--close.menu--open {
  display: block;
}
.menu__btn span {
  background-color: #000;
  height: 2px;
  width: 100%;
}
.mobile-nav,
.menu-close {
  display: none;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__link-search {
  margin-left: 80px;
}

.top {
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}
.top__inner {
  min-height: 500px;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.top__title {
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 780px;
  line-height: 1;
  font-weight: 400;
}
.top__text {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 560px;
}

.blockquote__text {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  font-style: italic;
  font-weight: normal;
  max-width: 704px;
  margin: 150px auto;
}
.assortment {
  margin-bottom: 150px;
}

.assortment__list {
  text-align: center;
  display: flex;
  gap: 0 40px;
}

.assortment__ing {
  max-width: 208px;
  max-height: 208px;
  width: 100%;
}
.assortment__name {
  font-size: 24px;
  font-weight: 400;
  padding-top: 10px;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
}
.reviews {
  background-color: #f7f2ea;
  padding: 60px 0;
}

.review__list {
  display: flex;
  gap: 0 25px;
  justify-content: center;
}
.reviews__item {
  flex-basis: 280px;
}

.review__text {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}
.reviews__name {
  font-weight: 600;
}

.main-blog {
  padding: 150px 0;
}
.main-blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 58px;
}
.main-blog__item {
  flex-basis: 542px;
  display: flex;
  gap: 0 20px;
}
.main-blog__item-img {
}
.main-blog__content {
  display: flex;
  flex-direction: column;
}
.main-blog__item-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  min-height: 86px;
}
.main-blog__item-author {
  font-size: 13px;
}
.main-blog__item-link {
  margin-top: auto;
  font-size: 13px;
  position: relative;
}
.main-blog__item-link::after {
  content: "";
  background-image: url(../images/icon.svg);
  position: absolute;
  bottom: 3px;
  width: 5px;
  height: 10px;

  margin-left: 8px;
}
.main-blog__link {
  padding: 12px 41px;
  display: flex;
  justify-content: center;
  margin: 72px auto 0;
  width: 152px;
  border: 1px solid #151618;
}
.mailling-list {
  padding: 100px 0;
  background-color: #f7f2ea;
  background-image: url(../images/teabg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.mailling-list__title {
  text-align: left;
  margin-bottom: 50px;
}
.mailling-list__inner {
  display: flex;
  gap: 60px 40px;
}
.mailling-list__text {
  line-height: 1.5;
  flex-basis: 580px;
}
.mailling-list__form {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 580px;
}
.mailling-list__email {
  border: none;
  border-bottom: 1px solid #b8b58b;
  background-color: transparent;
  padding: 3px 15px;
  width: 438px;
  margin-right: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  outline: none;
  color: #151618;
}
.mailling-list__email::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  outline: none;
  color: #b8b58b;
}
.mailling-list__btn {
  background-color: #fff;
  border: 1px solid #151618;
  padding: 12px 41px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.mailling-list__label {
  margin-top: 16px;
}
.checkbox {
  position: absolute;
  width: 1px;
  padding: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  padding-left: 20px;
}
.checkbox:checked + .checkbox-style::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #151618;
  top: 1px;
  left: 1px;
}
.checkbox-style {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
  margin-top: 5px;
}
.checkbox__text {
  font-size: 13px;
  padding-left: 20px;
}
.prioritise {
  padding: 150px 0;
}

.prioritise__list {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 49px;
}
.prioritise__title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 300;
}
.prioritise__text {
  font-weight: 600;
  margin-bottom: 30px;
}

.footer {
  padding: 100px 0 20px;
  background-color: #f7f2ea;
}
.container {
}
.footer__inner {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 0 40px;
}
.footer__products {
}
.footer__products-title,
.footer__contacts-title,
.footer__compamy-title {
  font-size: 24px;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 50px;
}
.footer__products-item,
.footer__compamy-item {
  margin-bottom: 20px;
}
.footer__products-link {
}
.footer__company {
}
.footer__compamy-title {
}
.footer__compamy-item {
}
.footer__company-link {
}
.footer__blockquote {
}
.footer__blockquote-text {
  margin-top: 80px;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 16px;
}
.footer__blockquote-author {
  font-size: 12px;
  font-style: normal;
}
.footer__contacts {
}
.footer__contacts-title {
}
.footer__contacts-text {
  font-size: 13px;
  margin-bottom: 20px;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
}
.footer__nav-logo {
  margin-right: 40px;
}
.footer__logo {
}
.footer__nav-contacts {
  margin-top: 20px;
}
.footer__nav-phone,
.footer__nav-email {
  font-size: 13px;
  position: relative;
  padding-left: 32px;
  display: block;
  margin-bottom: 20px;
}
.footer__nav-phone::before,
.footer__nav-email::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 22px;
  height: 16px;
  background-image: url(../images/mail.svg);
}
.footer__nav-phone::before {
  background-image: url(../images/phone.svg);
  width: 21px;
  height: 21px;
}
.footer__social {
  margin-top: 40px;
  width: 100%;
}
.footer__social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 20px;
}
.footer__social-item {
}
.footer__social-link {
}
.footer__bottom {
  display: flex;
}
.footer__copy {
  margin-right: 192px;
  font-size: 16px;
}
.partners__logo {
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
}
.partners-logo {
}

@media (max-width: 1000px) {
  .user-actions__link-search {
    margin-left: 30px;
  }
  .menu {
    margin-right: auto;
  }
  .menu__list {
    margin-left: 60px;
  }
  .logo {
    margin-bottom: 0;
  }
  .header__inner {
    min-height: 105px;
  }
  .blockquote__text {
    margin-top: 120px;
    margin-bottom: 135px;
  }
  .assortment__list {
    gap: 0;
  }
  .assortment {
    margin-bottom: 120px;
  }
  .reviews__item:last-child {
    display: none;
  }
  .main-blog {
    padding: 120px 0;
  }
  .main-blog__item-img {
    max-width: 230px;
  }
  .main-blog__item {
    flex-basis: 460px;
  }
  .main-blog__list {
    gap: 67px 20px;
  }
  .main-blog__link {
    margin-top: 60px;
  }
  .mailling-list__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .mailling-list {
    padding: 60px 0;
  }
  .mailling-list__title {
    text-align: center;
  }
  .mailling-list__text {
    text-align: center;
    flex-basis: 780px;
  }
  .prioritise {
    padding: 120px 0;
  }
  .prioritise__list {
    gap: 30px 210px;
  }

  .footer__blockquote {
    width: 270px;
  }
  .footer__blockquote-text {
    margin-top: 0;
  }
  .footer__inner {
    margin-bottom: 55px;
  }
  .footer__copy {
    margin-right: 85px;
  }
  .footer__nav-logo {
    margin-right: 35px;
  }
  .footer__contacts {
    width: 270px;
  }
}
@media (max-width: 860px) {
  .menu__list {
    transform: translateY(-110%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 480px;
    margin: 0 auto;
    background-color: #fff;
    display: block;
    text-align: center;
    padding-top: 60px;
    transition: transform 0.7s ease;
  }
  .menu__list.menu__list--open {
    transform: translateY(0%);
  }
  .menu__btn {
    display: flex;
  }
  .menu {
    order: -1;
    margin-right: 0;
    padding-right: 90px;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .menu__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__item {
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Cormorant Garamond", serif;
  }
  .mobile-menu {
    padding-top: 60px;
    margin: 60px 30px;
    border-top: 2px solid #f7f2ea;
  }
  .mobile-menu__item {
    margin-bottom: 35px;
  }
  .mobile-menu__link {
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
  }
  .mobile-actions {
    background-color: #f7f2ea;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav,
  .menu-close {
    display: block;
  }
  .header__inner {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .header__inner {
    padding-left: 44px;
    padding-right: 44px;
  }
  .blockquote__text {
    max-width: 640px;
  }
  .menu {
    padding-right: 90px;
  }
  .assortment__list {
    gap: 0 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews__item:last-child {
    display: block;
  }
  .review__list {
    flex-wrap: wrap;
    gap: 30px 76px;
  }
  .main-blog__item {
    flex-basis: 540px;
  }
  .main-blog__item-img {
    max-width: 270px;
  }
  .main-blog__list {
    gap: 30px 20px;
  }
  .main-blog__item:nth-child(even) {
    margin-left: auto;
  }
  .mailling-list__text {
    flex-basis: 640px;
  }
  .prioritise__list {
    gap: 30px 130px;
  }
  .footer__inner {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__products,
  .footer__company {
    grid-row: span 3;
  }
  .footer__contacts {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .footer__copy {
    margin-right: 120px;
  }
}
@media (max-width: 680px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__inner {
    padding-left: 0;
    padding-right: 0;
  }
  .top__title {
    font-size: 40px;
  }
  .blockquote__text {
    font-size: 20px;
    max-width: 376px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .title {
    margin-bottom: 30px;
  }
  .review__list {
    gap: 30px 20px;
  }
  .reviews__item {
    flex-basis: 220px;
  }
}
@media (max-width: 480px) {
  .logo img {
    width: 40px;
  }
  .header__inner {
    min-height: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .menu__list {
    width: 360px;
  }
  .assortment__ing {
    max-width: 165px;
    max-height: 165px;
  }
  .assortment {
    margin-bottom: 60px;
  }
  .title {
    font-size: 24px;
  }

  .reviews {
    padding: 50px 0;
  }
  .reviews__item {
    flex-basis: 220px;
  }
  .main-blog {
    padding: 60px 0;
  }
  .main-blog__item-img {
    max-width: 230px;
  }
  .mailling-list {
    padding: 50px 0;
  }
  .mailling-list__text {
    flex-basis: 100%;
    font-size: 13px;
  }
  .mailling-list__inner {
    gap: 30px 0;
  }
  .mailling-list__email {
    width: 324px;
    margin-right: 20px;
  }
  .mailling-list__btn {
    padding: 10px 39px;
  }
  .prioritise {
    padding: 60px 0;
  }
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__blockquote {
    width: 100%;
  }
  .footer__blockquote-text {
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .footer__contacts {
    margin-top: 50px;
    width: 100%;
  }
  .footer__contacts-title {
    margin-bottom: 20px;
  }
  .footer__products-title,
  .footer__compamy-title {
    margin-bottom: 30px;
  }
  .footer__contacts-text {
    text-align: center;
  }
  .footer__nav {
    flex-wrap: nowrap;
  }
  .footer__social {
    margin-left: 30px;
  }
  .footer__copy {
    margin-right: auto;
    white-space: nowrap;
  }
  .footer__contacts-title {
    text-align: center;
  }
  .footer__products {
    margin-right: auto;
    padding-right: 20px;
  }
  .footer__company {
    padding-right: 20px;
    margin-right: 55px;
  }
  .footer {
    padding: 50px 0 10px;
  }
}
@media (max-width: 360px) {
  .user-actions__link-search {
    margin-left: 0;
  }
  .title {
    margin-bottom: 30px;
  }
  .menu {
    padding-right: 60px;
  }
  .top__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text {
    font-size: 13px;
    margin-bottom: 30px;
  }
  .top__inner {
    min-height: 367px;
  }
  .blockquote__text {
    max-width: 340px;
  }
  .reviews__item {
    flex-basis: 100%;
  }
  .reviews__item:last-child {
    display: none;
  }
  .reviews__item:first-child {
    display: none;
  }
  .main-blog {
    padding: 50px 0;
  }
  .main-blog__item {
    display: block;
    max-width: 270px;
  }
  .main-blog__item-img {
    max-width: 100%;
  }
  .main-blog__item:nth-child(even) {
    display: none;
  }
  .main-blog__list {
    justify-content: center;
  }
  .main-blog__item-title {
    min-height: auto;
  }
  .mailling-list__email {
    width: 205px;
  }
  .prioritise {
    padding: 50px 0;
  }
  .prioritise__title {
    font-size: 20px;
  }
  .prioritise__text {
    font-size: 10px;
    font-weight: 400;
  }
  .prioritise__list {
    gap: 40px 100px;
  }
  .footer__company {
    padding-right: 15px;
    margin-right: 0px;
  }
  .footer__nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__products {
    padding-right: 10px;
  }
  .footer__social {
    margin-left: 0;
  }
  .footer__social-list {
    justify-content: center;
  }
}
